{{define "contestant-input"}} 
{{ range $num := .Nums }}
<div class="form-group">
    <input type="text" class="form-control contestant-input" required  id="contestant-input-{{ $num }}" placeholder="Wettbewerber {{ $num }}">
</div>
{{end}}
<div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="randomize-input">
        <label class="form-check-label" for="randomize-input">
          Reihenfolge randomisieren
        </label>
      </div>
<button type="submit" class="btn btn-primary">Erstellen</button>
{{end}}