{{define "content"}}
<label for="btn-group-contestant-number">Anzahl Wettbewerber</label>
<div id="btn-group-contestant-number" class="btn-group my-3" role="group" aria-label="Anzahl Wettbewerber">
    <button type="button" class="btn btn-secondary btn-contestant-number">2</button>
    <button type="button" class="btn btn-secondary btn-contestant-number">4</button>
    <button type="button" class="btn btn-secondary btn-contestant-number">8</button>
    <button type="button" class="btn btn-secondary btn-contestant-number">16</button>
    <button type="button" class="btn btn-secondary btn-contestant-number">32</button>
</div>
<div id="contestant-input-elements">
</div>
{{end}}