{{define "content"}}
<div class="jumbotron">
    <h1 class="display-4">Willkommen!</h1>
    <p class="lead">Abstimmungscode eingeben oder neue Abstimmung starten</p>
</div>
<form class="my-4 form-inline">
        <input type="text" class="form-control" id="input-key" placeholder="Abstimmungscode">
        <button class="btn btn-primary" id="button-submit-key">Submit</button>
</form>
<hr class="my-4">
<button class="btn btn-primary" id="button-new-bracket">Neue Abstimmung erstellen</button>
{{end}}