{{ define "base" }}
<div id="content" class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a id="navbar-brand" class="navbar-brand" href="/welcome">What is better?</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" id="bracket-link" href="/bracket">Ergebnisse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="vote-link" href="/vote">Abstimmen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="new-link" href="/new">Neue Abstimmung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="list-link" href="/list">Liste</a>
                </li>
            </ul>
        </div>
    </nav>
    {{template "content" .}}
    {{template "footer" .}}
    {{template "fixedposition" .}}
</div>
{{ end }}